
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #6495ed,
  secondary:  #1c1258,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #161616
);

//Top Toolbar
$toolbar-md-background: color($colors, secondary);


//Bottom tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
